
<%- include("partials/header"); -%>
<br><br>
<h1>Home</h1>
<br>
<p> <%= startingContent %> </p>


<%  posts.forEach(function(post){ %>

<h1><%=post.title%></h1>
<p>
<%=post.content.substring(0, 200) + " ..."%>
<a href="/posts/<%=post.title%>">Read More</a>
</p>


<% }) %>


<%- include("partials/footer"); -%>
